* {
        padding: 0;
        margin: 0;
    }


    header {
      position: fixed;
      height: 100px;
      width: 100%;
      z-index: 2;
      background-color: #30556E;
}

    header h1 {
      font-size: 52px;
      height: 100px;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 32px;
      color: #FFF;
    }

    .index {
      height: 70px;
      width: 300px;
      position:fixed;
      top: 85px;
      margin: 60px 40px;
      padding: 30px;
      font-size: 18px;
      border: 3px dotted;
      border-radius: 7px;
      border-color: #77c8fe;
    }


    .new-post {
        width:60%;
        position: relative;
        top: 115px;
        left: 35%;
        text-align: center;
    }

    .new-post input {
        display: inline-block;
        margin: 30px 10px 50px 10px;
        padding: 6px;
        font-size: 18px;
    }

    .new-post .name {
        width: 10%;
    }
 
    .new-post .msg {
        width: 60%;
    }
 
    .new-post .button {
        width: 10%;
    }


    .post {
        top: 100px;
        width: 900px;
        height: auto;
        margin: 20px 32%;
        padding: 20px;
        border-radius: 7px;
        display: block;
        position: relative;
        background-color: #ADF;
    }

 
    .content {
        width: 100%;
        height: auto;
        margin: 20px 15px 40px 15px;
        font-size: 18px;
        overflow: scroll;
      
    }

    .content .name {
        font-size: 24px;
        color: #30556E;
        text-shadow: 1px 0px #FFF;
    }

    .content p {
        padding: 5px 0 0 10px;
        color: #383838;
    }

 
    .message {
        width: 95%;
        margin: 5px 15px;
        display: inline-block;
        border-radius: 7px;
        padding: 15px 0 15px 10px;
        background-color: #F0F8FF;
    }
 
    .message > span {
        width: 15%;
        font-size: 16px;
        display: inline-block;

    }
 
    .message > span::before {
        color: darkred;
        content: " [ ";
    } 
 
    .message > span::after {
        color: darkred;
        content: " ]   : ";
        size: 100%;
    }        
    .message > p {
        display: inline-block;
        font-size: 16px;
    }

    .new-commend {
        width:100%;
        padding: 5px 20px;
        text-align: left;
    }
    
    .new-commend input {
        display: inline-block;
        margin: 15px 0px 15px 5px;
        padding: 2px;
        font-size: 14px;
    }

    .new-commend .name {
        width: 10%;
    }
 
    .new-commend .msg {
        width: 60%;
    }
 
    .new-commend .button {
        width: 10%;
    }