{% load  staticfiles %}
<html>
<head>
  <script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>
  <meta charset="utf-8">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
  <title>Let's meet !</title>
</head>

<body>

  <div id="container"></div>
  <form action='.' method="GET" id="myform">
    <input id="dayChosen" type="hidden" name="dayChosen" value="">
    <input type="submit" value="Click me" />
  </form>
  <script>

    var width = window.innerWidth;
    var height = window.innerHeight;

    var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height
    });

    var layer = new Konva.Layer();

    var dayChosen = []

///////////////////////////////

    var simpleText0 = new Konva.Text({
      x: 145,
      y: 240,
      text: 'Mon',
      fontSize: 30,
      fontFamily: 'Calibri',
      fill: 'black'
    });
    simpleText0.setOffset({
      x: simpleText0.getWidth() / 2
    });

     var rectangle0 = new Konva.Rect({
        x: 120,
        y: 280,
        width:50,
        height:250,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 4
    });

    rectangle0.on('click', function() {
        var fill0 = this.fill() == 'red' ? '#00d00f' : 'red';
        this.fill(fill0);
        layer.draw();
        if (this.fill() != 'red') {
          dayChosen.push('Mon');
        } else {
          var n = dayChosen.indexOf('Mon');
          dayChosen.splice(n,1);
        };
    });

    layer.add(simpleText0);
    layer.add(rectangle0);
/////////////////////////////////////////////

    var simpleText1 = new Konva.Text({
      x: 225,
      y: 240,
      text: 'Tue',
      fontSize: 30,
      fontFamily: 'Calibri',
      fill: 'black'
    });
    simpleText1.setOffset({
      x: simpleText1.getWidth() / 2
    });


    var rectangle1 = new Konva.Rect({
        x: 200,
        y: 280,
        width:50,
        height:250,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 4
    });
    rectangle1.on('click', function() {
        var fill1 = this.fill() == 'red' ? '#00d00f' : 'red';
        this.fill(fill1);
        layer.draw();
        if (this.fill() != 'red') {
          dayChosen.push('Tue');
        } else {
          var n = dayChosen.indexOf('Tue');
          dayChosen.splice(n,1);
        };
    });

    layer.add(simpleText1);
    layer.add(rectangle1);
/////////////////////////////////////////////////

    var simpleText = new Konva.Text({
      x: 305,
      y: 240,
      text: 'Wed',
      fontSize: 30,
      fontFamily: 'Calibri',
      fill: 'black'
    });
    simpleText.setOffset({
      x: simpleText.getWidth() / 2
    });

     var rectangle = new Konva.Rect({
        x: 280,
        y: 280,
        width:50,
        height:250,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 4
    });

    rectangle.on('click', function() {
        var fill = this.fill() == 'red' ? '#00d00f' : 'red';
        this.fill(fill);
        layer.draw();
        if (this.fill() != 'red') {
          dayChosen.push('Wed');
        } else {
          var n = dayChosen.indexOf('Wed');
          dayChosen.splice(n,1);
        };
    });

    layer.add(simpleText);
    layer.add(rectangle);
////////////////////////////////////////////////

    var simpleText = new Konva.Text({
      x: 385,
      y: 240,
      text: 'Thu',
      fontSize: 30,
      fontFamily: 'Calibri',
      fill: 'black'
    });
    simpleText.setOffset({
      x: simpleText.getWidth() / 2
    });

     var rectangle = new Konva.Rect({
        x: 360,
        y: 280,
        width:50,
        height:250,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 4
    });

    rectangle.on('click', function() {
        var fill = this.fill() == 'red' ? '#00d00f' : 'red';
        this.fill(fill);
        layer.draw();
        if (this.fill() != 'red') {
          dayChosen.push('Thu');
        } else {
          var n = dayChosen.indexOf('Thu');
          dayChosen.splice(n,1);
        };
    });

    layer.add(simpleText);
    layer.add(rectangle);
///////////////////////////////////////////////

    var simpleText = new Konva.Text({
      x: 465,
      y: 240,
      text: 'Fri',
      fontSize: 30,
      fontFamily: 'Calibri',
      fill: 'black'
    });
    simpleText.setOffset({
      x: simpleText.getWidth() / 2
    });

     var rectangle = new Konva.Rect({
        x: 440,
        y: 280,
        width:50,
        height:250,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 4
    });

    rectangle.on('click', function() {
        var fill = this.fill() == 'red' ? '#00d00f' : 'red';
        this.fill(fill);
        layer.draw();
        if (this.fill() != 'red') {
          dayChosen.push('Fri');
        } else {
          var n = dayChosen.indexOf('Fri');
          dayChosen.splice(n,1);
        };
    });

    layer.add(simpleText);
    layer.add(rectangle);
//////////////////////////////////////////////////

    var simpleText = new Konva.Text({
      x: 545,
      y: 240,
      text: 'Sat',
      fontSize: 30,
      fontFamily: 'Calibri',
      fill: 'black'
    });
    simpleText.setOffset({
      x: simpleText.getWidth() / 2
    });

    var rectangle = new Konva.Rect({
        x: 520,
        y: 280,
        width:50,
        height:250,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 4
    });

    rectangle.on('click', function() {
        var fill = this.fill() == 'red' ? '#00d00f' : 'red';
        this.fill(fill);
        layer.draw();
        if (this.fill() != 'red') {
          dayChosen.push('Sat');
        } else {
          var n = dayChosen.indexOf('Sat');
          dayChosen.splice(n,1);
        };
    });

    layer.add(simpleText);
    layer.add(rectangle);
//////////////////////////////////////////////////

    var simpleText = new Konva.Text({
      x: 625,
      y: 240,
      text: 'Sun',
      fontSize: 30,
      fontFamily: 'Calibri',
      fill: 'black'
    });
    simpleText.setOffset({
      x: simpleText.getWidth() / 2
    });

    var rectangle = new Konva.Rect({
        x: 600,
        y: 280,
        width:50,
        height:250,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 4
    });

    rectangle.on('click', function() {
        var fill = this.fill() == 'red' ? '#00d00f' : 'red';
        this.fill(fill);
        layer.draw();
        if (this.fill() != 'red') {
          dayChosen.push('Sun');
        } else {
          var n = dayChosen.indexOf('Sun');
          dayChosen.splice(n,1);
        };
    });

    layer.add(simpleText);
    layer.add(rectangle);
/////////////////////////////////////////
    stage.add(layer);

    function sendDays() {
      document.getElementById("dayChosen").value = dayChosen;
    }

    function makeid() {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";

      for (var i = 0; i < 10; i++)
          text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }

    var myForm = document.getElementById('myform');
    myForm.addEventListener('submit', function(event) {
      var randUrl = 'user/'+ makeid();
      event.preventDefault();
      myForm.action = randUrl;
      myform.submit();
    });
    




  </script>

</body>
</html> 
