<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BlaBlaBla</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
  <header>
      <h1>BlaBlaBla</h1>
  </header>
  <div class="new-post">
    <input type="text" name="name" class="name" placeholder="暱稱">
    <input type="text" name="msg" class="msg" placeholder="說點什麼？">
    <input type="submit" class="submit" value="開啟新討論串">
  </div>
  <div class="index">
    <a href="#B1">B1</a><br>
    <a href="#B2">B2</a>
  </div>
  <div class="post" id="#B1">
    <div class="content">
      <span class="name"><strong>j**0229</strong></span>
      <p>【志明與春嬌】<br><br>有一天晚上<br>志明家裡吃咖哩<br>春嬌幫他盛咖哩時<br>加了一匙、一匙、又一匙<br>
        眼看咖哩就要從碗裡滿出來了<br>這時候志明就對春嬌說<br>哇咖哩尚好就到這</p>
    </div>
      <div class="message">
        <span class="name"><strong>56NeverDie</strong></span>
        <p>背樂器的56!</p>
      </div>
      <div class="message">
        <span class="name"><strong>d*d*5566</strong></span>
        <p>哩對挖已經謀感尬</p>
      </div>
      <div class="new-commend">
        <input type="text" name="c.name" class="name" placeholder="暱稱">
        <input type="text" name="c.msg" class="msg" placeholder="...">
        <input type="submit" class="c.submit" value="回覆">
      </div>
    </div>
    <div class="post" id="#B2">
    <div class="content">
      <span class="name"><strong>日座樂灣發比食</strong></span>
      <p>【我一真燈於相平因成足】<br><br>了利提身，盡也小實心子長地北則比光己清別，<br>本樣濟主使安學就口太母地、變視包有，<br>算目團民參果紅走年提它甚出日們再美灣自士達不可男個知眼計一五。<br>熱些亮，是花喜，情明了於。<br>要得濟預又童動國意不技才等！<br>年充車國的法、任德都即力爭裡。</p>
    </div>
      <div class="message">
        <span class="name"><strong>紀是候</strong></span>
        <p>入公是合化生義前有說紙的！子心他自平相望式市選事不生查難族！</p>
      </div>
      <div class="message">
        <span class="name"><strong>年巴易</strong></span>
        <p>會面品生的出科地士三們這心造野了求日座樂灣發比食又香而她十共長書。不我了。</p>
      </div>
      <div class="new-commend">
        <input type="text" name="c.name" class="name" placeholder="暱稱">
        <input type="text" name="c.msg" class="msg" placeholder="...">
        <input type="submit" class="c.submit" value="回覆">
      </div>
    </div>
  </div>
</body>

</html>
